<?xml version="1.0"?>
<config>
    <modules>
        <HarrisWebworks_Blogpost>
            <version>0.1.0</version>
        </HarrisWebworks_Blogpost>
    </modules>
    <frontend>
        <routers>
            <blogpost>
                <use>standard</use>
                <args>
                    <module>HarrisWebworks_Blogpost</module>
                    <frontName>blogpost</frontName>

                </args>
            </blogpost>
            <blogpost_create>
                <use>standard</use>
                <args>
                    <module>HarrisWebworks_Blogpost</module>
                    <frontName>create_post</frontName>

                </args>
            </blogpost_create>
        </routers>
        <layout>
            <updates>
                <blogpost>
                    <file>blogpost.xml</file>+
                </blogpost>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <blogpost>
                <class>HarrisWebworks_Blogpost_Model</class>
                <resourceModel>blogpost_mysql4</resourceModel>
            </blogpost>
            <blogpost_mysql4>
                <class>HarrisWebworks_Blogpost_Model_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blogpost</table>
                    </blogpost>
                </entities>
            </blogpost_mysql4>
        </models>
        <resources>
            <blogpost_setup>
                <setup>
                    <module>HarrisWebworks_Blogpost</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blogpost_setup>
            <blogpost_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blogpost_write>
            <blogpost_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blogpost_read>
        </resources>
        <blocks>
            <blogpost>
                <class>HarrisWebworks_Blogpost_Block</class>
            </blogpost>
        </blocks>
        <helpers>
            <blogpost>
                <class>HarrisWebworks_Blogpost_Helper</class>
            </blogpost>
        </helpers>
    </global>
</config>