<?xml version="1.0"?>
<config>
    <modules>
        <Digitab_Brandlogo>
            <version>0.1.0</version>
        </Digitab_Brandlogo>
    </modules>
    <frontend>
        <routers>
            <brandlogo>
                <use>standard</use>
                <args>
                    <module>Digitab_Brandlogo</module>
                    <frontName>brandlogo</frontName>
                </args>
            </brandlogo>
        </routers>
        <layout>
            <updates>
                <brandlogo>
                    <file>brandlogo.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <brandlogo>
                <class>Digitab_Brandlogo_Model</class>
                <resourceModel>brandlogo_mysql4</resourceModel>
            </brandlogo>
            <brandlogo_mysql4>
                <class>Digitab_Brandlogo_Model_Mysql4</class>
                <entities>
                    <brandlogo>
                        <table>brandlogo</table>
                    </brandlogo>
                </entities>
            </brandlogo_mysql4>
        </models>
        <resources>
            <brandlogo_setup>
                <setup>
                    <module>Digitab_Brandlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandlogo_setup>
            <brandlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandlogo_write>
            <brandlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandlogo_read>
        </resources>
        <blocks>
            <brandlogo>
                <class>Digitab_Brandlogo_Block</class>
            </brandlogo>
        </blocks>
        <helpers>
            <brandlogo>
                <class>Digitab_Brandlogo_Helper</class>
            </brandlogo>
        </helpers>
    </global>
    <adminhtml>
        <menu>
            <brands module="brandlogo">
                <title>Brands</title>
                <sort_order>71</sort_order>
                <children>
                <Blog_shower module="brandlogo">
                    <title>Manage Blogs</title>
                    <sort_order>0</sort_order>
                    <action>brandlogo/adminhtml_brandlogo</action>
                </Blog_shower>
                    <Blog_editor module="brandlogo">
                        <title>Edit Blogs</title>
                        <sort_order>10</sort_order>
                        <action>brandlogo/adminhtml/brandlogo2</action>
                    </Blog_editor>
                </children>
            </brands>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Digitab_Brandlogo>
                            <title>Brandlogo Module</title>
                            <sort_order>10</sort_order>
                        </Digitab_Brandlogo>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <brandlogo>
                    <file>brandlogoadmin.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </adminhtml>
</config>