<?xml version="1.0"?>
<config>
    <modules>
        <Digitab_Brandlogoadmin>
            <version>0.1.0</version>
        </Digitab_Brandlogoadmin>
    </modules>
    <admin>
        <routers>
			<brandlogoadmin>
				<use>admin</use>
				<args>
					<module>Digitab_Brandlogoadmin</module>
					<frontName>brandlogoadmin</frontName>
				</args>
			</brandlogoadmin>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<brandlogoadmin module="brandlogoadmin">
				<title>Brandlogo</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="brandlogoadmin">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>brandlogoadmin/brandlogo</action>
					</items>
					<items1 module="brandlogoadmin">
						<title>Settings</title>
						<sort_order>10</sort_order>
						<action>brandlogoadmin/brandlogo</action>
					</items1>
				</children>
			</brandlogoadmin>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Digitab_Brandlogoadmin>
							<title>Brandlogo Module</title>
							<sort_order>10</sort_order>
						</Digitab_Brandlogoadmin>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<brandlogoadmin>
					<file>brandlogoadmin.xml</file>
				</brandlogoadmin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<blocks>
			<brandlogoadmin>
				<class>Digitab_Brandlogoadmin_Block</class>
			</brandlogoadmin>
		</blocks>
		<helpers>
			<brandlogoadmin>
				<class>Digitab_Brandlogoadmin_Helper</class>
			</brandlogoadmin>
		</helpers>
    </global>
</config>