<?xml version="1.0"?>
<config>
    <modules>
        <HarrisWebworks_Blogpostadmin>
            <version>0.1.0</version>
        </HarrisWebworks_Blogpostadmin>
    </modules>
    <admin>
        <routers>
			<blogpostadmin>
				<use>admin</use>
				<args>
					<module>HarrisWebworks_Blogpostadmin</module>
					<frontName>blogpostadmin</frontName>
				</args>
			</blogpostadmin>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<blogpostadmin module="blogpostadmin">
				<title>Blogpost</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="blogpostadmin">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>blogpostadmin/blogpost</action>
					</items>
				</children>
			</blogpostadmin>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<HarrisWebworks_Blogpostadmin>
							<title>Blogpost Module</title>
							<sort_order>10</sort_order>
						</HarrisWebworks_Blogpostadmin>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<blogpostadmin>
					<file>blogpost.xml</file>
				</blogpostadmin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<blocks>
			<blogpostadmin>
				<class>HarrisWebworks_Blogpostadmin_Block</class>
			</blogpostadmin>
		</blocks>
		<helpers>
			<blogpostadmin>
				<class>HarrisWebworks_Blogpostadmin_Helper</class>
			</blogpostadmin>
		</helpers>
    </global>
</config>